header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 9%;
    background-color: var(--bn-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header.stickey {
    position: sticky;
    margin-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
  }
  
  .navbar a {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 2.4rem;
  }
  
  .navbar a:hover {
    color: var(--main-color);
    transition: 0.2s ease;
    text-shadow: 0 0 2rem var(--main-color);
  }
  
  #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
  }
  
  /* Media Queries para tornar o header responsivo */
  
  /* Telas menores que 768px (tablets e celulares em modo paisagem) */
  @media (max-width: 768px) {
    .navbar {
      position: fixed;
      top: 0;
      right: -100%; /* Escondido fora da tela, à direita */
      height: 100%;
      width: 50%; /* Largura da aba */
      background: var(--bn-color);
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Alinha itens à esquerda */
      padding: 8rem 1rem 0rem 5rem; /* Espaçamento interno */
      transition: right 0.3s ease; /* Animação suave */
      z-index: 100; /* Sobrepor ao conteúdo */
      box-shadow: -2px 0 10px var(--main-color);
    }
  
    .navbar.active {
      right: 0; /* Move a aba para dentro da tela */
    }
  
    .navbar a {
      margin: 1rem -2rem 1rem;
      width: 100%;
      text-align: center; /* Alinha os links à esquerda */
      padding: 0.5rem 0.5rem; /* Adiciona espaço interno */
      transition: color 0.3s ease; /* Transição suave para hover */
    }
  
    .navbar a:last-child {
      border-bottom: none; /* Remove a linha do último item */
    }
  
    .navbar a:hover {
      color: var(--main-color); /* Altera a cor no hover */
    }
  
    #menu-icon {
      display: block;
      cursor: pointer;
      position: fixed; /* Ícone fixo */
      top: 1rem; /* Distância do topo */
      right: 1rem; /* Alinhado à direita */
      font-size: 3rem;
      z-index: 200; /* Sobrepõe ao menu */
      color: var(--text-color);
    }
  
    .navbar.active #menu-icon {
      position: absolute; /* Ícone dentro da aba */
      top: 1rem;
      right: 1rem; /* Mantém o ícone à direita da aba */
      z-index: 300; /* Garante que esteja acima do conteúdo da aba */
    }
  }
  
  
  /* Telas menores que 480px (celulares em modo retrato) */
  @media (max-width: 480px) {
    header {
      padding: 1.5rem 4%;
    }
  
    .logo {
      font-size: 1rem;
    }
  
    .navbar a {
      font-size: 1.2rem;
    }
  
    #menu-icon {
      font-size: 3rem;
    }
  }
  