header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem 9%;
    background-color: var(--bn-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header.stickey {
    position: sticky;
    margin-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    font-size: 1.9rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
  }
  
  .navbar a {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 2.4rem;
  }
  
  .navbar a:hover {
    color: var(--main-color);
    transition: 0.2s ease;
    text-shadow: 0 0 2rem var(--main-color);
  }
  
  #menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
  }
  
  /* Media Queries para tornar o header responsivo */
  
  /* Telas menores que 768px (tablets e celulares em modo paisagem) */
  @media (max-width: 768px) {
    header {
      padding: 1rem 5%;
    }
  
    .logo {
      font-size: 1.6rem;
    }
  
    .navbar a {
      font-size: 1.3rem;
      margin-left: 1.5rem;
    }
  
    #menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: var(--bn-color);
      display: none;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar.active {
      display: flex;
    }
  
    .navbar a {
      margin: 1rem 0;
    }
  }
  
  /* Telas menores que 480px (celulares em modo retrato) */
  @media (max-width: 480px) {
    header {
      padding: 0.8rem 4%;
    }
  
    .logo {
      font-size: 0.8rem;
    }
  
    .navbar a {
      font-size: 1.2rem;
      margin-left: 1rem;
    }
  
    #menu-icon {
      font-size: 3rem;
    }
  }
  