#projects {
  background: var(--second-bg-color);
  min-height: 80vh;
  padding: 10rem 4rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  color: var(--text-color);
}

.projects-container .projects-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bn-color);
  overflow: hidden;
  display: flex;
  margin: 1.5rem;
}

.projects-box img {
  width: 100%;
  transition: 0.5s ease;
}

.projects-box:hover img {
  transform: scale(1.1);
}

.projects-box .projects-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(31, 26, 56, 7), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
  transform: translateY(0);
}

.projects-layer h3 {
  font-size: 1.4rem;
  color: var(--text-color);
}

.projects-layer p {
  font-size: 1.1rem;
  width: 100%;
  color: var(--text-color);
  margin-top: 1rem;
  text-align: justify;
}

.projects-layer .a1,
.projects-layer .a2 {
  color: var(--bn-color);
  text-decoration: none;
  margin: 0 10px;
}

.projects-layer a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--text-color);
  border-radius: 50%;
  transition: transform 0.3s;
}

.projects-layer a:hover {
  transform: scale(1.1);
}

.projects-layer a i {
  font-size: 1.5rem;
}

.projects-layer .links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Media Queries para telas menores que 1280px */
@media (max-width: 1280px) {
  .projects-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
  }

  .projects-box .projects-layer {
      padding: 0 3rem;
  }

  .projects-layer p {
      font-size: 1rem;
      padding: 0 1.5rem;
  }

  .projects-layer h3 {
      font-size: 1.3rem;
  }
}

/* Telas menores que 768px (tablets e celulares em modo paisagem) */
@media (max-width: 768px) {
  .projects-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
  }

  .projects-box .projects-layer {
      padding: 0 2rem;
  }

  .projects-layer p {
      font-size: 1rem;
      padding: 0 1rem;
  }

  .projects-layer h3 {
      font-size: 1.2rem;
  }
}

/* Telas menores que 480px (celulares em modo retrato) */
@media (max-width: 480px) {
  .projects-container {
      grid-template-columns: 1fr;
      gap: 1rem;
  }

  .projects-layer p {
      font-size: 0.9rem;
  }

  .projects-layer h3 {
      font-size: 1rem;
  }

  .projects-box {
      margin: 1rem;
  }

  #projects {
      padding: 8rem 2rem;
  }
}
